@mixin df($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin dfc($align: center, $justify: center){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
} 
@mixin btn(){
    padding: 6px 12px;
    border-radius: 100px;
    background: $bg-py;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    transition: .5s;
    color: $bg-text;
    &:hover{
        background: $bg-light;
        border: 1px solid $bg-py;
        color: $bg-py;
        cursor: pointer;
    }
    &:active{
        transform: scale(.9);
    }
    
}